/* Style reset + add back in paragraph spacing */
* { margin:0; padding:0; }
p { margin:5px 0 10px 0; }

:root {
  --section-color-1: #006D77;
  --section-color-2: #83C5BE;
  --main-font-color: #EDF6F9;
  --secondary-font-color: #006d77;
  --nav-color: #E29578;
  --card-color: #FFDDD2;
  --highlight-color: #E29578;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: var(--main-font-color);
}

h1, h2 {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-align: center;
  color:var(--main-font-color);
  padding: 2rem;
  text-decoration: underline;
}

section {
  text-align: center;
  padding: 5rem 2rem;
}

.bg1 {
  background-color: var(--section-color-1);
}

.bg2 {
  background-color: var(--section-color-2);
}

/* Rules for fixed header nav bar and nav links */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  background-color: var(--nav-color);
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  color: var(--main-font-color);
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

nav > ul {
  float: right;
}

nav > ul > li {
  list-style-type: none;
  float: left;
  margin: 4px 8px 4px 8px;
}

/* Rules for Experience section horizontal scrolling cards */
#experience-sec {
  text-align: justify;
  font-size: 0.9rem;
}

#timeline-nav-ul {
  list-style-type: none;
}

#timeline-nav-ul > li {
  height: 2rem;
  width: 2rem;
  color: var(--main-font-color);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  /*border: 2px solid var(--main-font-color);
  border-radius: 15px;
  background-color: var(--highlight-color);*/
}

.timeline-nav-inactive {
  color: grey;
}

.timeline-events {
  position: relative;
}

#timeline-events-ol {
  list-style-type: none;
}

.timeline-event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.timeline-event-selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.timeline-event-descr {
  list-style-type: square;
}

.timeline-event-enter-r, .timeline-event-leave-r {
  animation-name: enter-right;
}

.timeline-event-enter-l, .timeline-event-leave-l {
  animation-name: enter-left;
}

.timeline-event-leave-r, .timeline-event-leave-l {
  animation-direction: reverse;
}

@keyframes cd-enter-right {
  0% {
     opacity: 0;
     transform: translateX(100%);
  }

  100% {
     opacity: 1;
     transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
     opacity: 0;
     transform: translateX(-100%);
  }

  100% {
     opacity: 1;
     transform: translateX(0%);
  }
}

/* Rules for Technical Skills section */
#tech-skills-ctr {
  width: 50%;
  margin: 0 auto;
}

#tech-skills-ctr > ul {
  list-style-type: none;
  columns: 2;
}

/* Rules for Project section flip cards */
#projects-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  grid-template-areas: 
  ". ."
  ". .";
}

#projects-div > div {
  width: 24rem;
  height: 24rem;
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flip-card-wrapper {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  color: var(--secondary-font-color);
  background-color: var(--card-color);
  border: 4px solid var(--highlight-color);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--card-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-wrapper:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-back > h3 {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

/* Rules for Personal Interests section*/
#personal-ctr {
  width: 85%;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

#personal-ctr > div {
  height: 240px;
  width: 240px;
  margin: 8px;
  border: 4px solid var(--highlight-color);
}

.personal-img {
  height: 240px;
  width: 240px;
  object-fit: cover;
}

/* Rules for footer & contact links */
footer {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  background-color: var(--nav-color);
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  color: var(--main-font-color);
}

footer > ul > li {
  list-style-type: none;
  float: left;
  margin: 4px 8px 4px 8px;
}